.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 200%;
    max-width: 300px;
}